/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

/* UTILITIES */
.mt-6 {
    margin-top: 8vw;
}

.ml-6 {
    margin-left: 11.5vw;
}

.social {
    font-size: 50px;
    margin-right: 1.5vw;
}

/* VARIABLES */
:root {
    --bg-main: #dde8f1;
    --font-size: 22px;
    --font-color: #001c55;
}

/* BODY */
* {
    font-family: 'Nunito Sans';
    color: var(--font-color) !important;
}

body {
    background-color: var(--bg-main);
}

/* NAVBAR */
.navbar-brand {
    cursor: pointer;
}

.name-logo {
    font-family: 'OneSignature';
    font-size: 50px;
    font-weight: 400;
}

.name-braces {
    font-size: 30px;
    font-weight: 100;
}
.nav-item {
    font-size: var(--font-size);
}
.nav-link {
    cursor: pointer;
}

.nav-text {
    display: inline;
    position: relative;
    overflow: hidden;
    padding-bottom: 0px !important;
}
.nav-text:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -3px;
    background: var(--font-color);
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.nav-text:hover:after,
.nav-text:focus:after,
.nav-text:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

/* HOME */
.greeting-svg {
    overflow-x: hidden;
}

.greeting-text__hi {
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
}

.greeting-text__name {
    font-size: 60px;
    font-weight: 900;
}

.greeting-text__bio {
    font-size: 30px;
    font-weight: 800;
    color: #74809e !important;
}

.btn-primary {
    background-color: var(--bg-main);
    border: 2px solid #001c55;
    border-radius: 10px;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: var(--font-color);
    color: #ffffff !important;
    border: 2px solid #001c55;
}
