/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

/* UTILITIES */
.mt-6 {
    margin-top: 8vw;
}

.ml-6 {
    margin-left: 11.5vw;
}

.social {
    font-size: 50px;
    margin-right: 1.5vw;
}

/* VARIABLES */
:root {
    --bg-main: #dde8f1;
    --font-size: 22px;
    --font-color: #001c55;
    --white: #ffffff;
    --muted: #74809e;
    --linkedin: #0e76a8;
    --github: #000000;
    --gmail: #bb001b;
}

/* BODY */
* {
    font-family: 'Nunito Sans';
    color: var(--font-color) !important;
}

body {
    background-color: var(--bg-main);
}

/* NAVBAR */
.navbar-brand {
    cursor: pointer;
}

.name-logo {
    font-family: 'OneSignature';
    font-size: 50px;
    font-weight: 400;
}

.name-braces {
    font-size: 30px;
    font-weight: 100;
}
.nav-item {
    font-size: var(--font-size);
}
.nav-link {
    cursor: pointer;
}

.nav-text {
    display: inline;
    position: relative;
    overflow: hidden;
    padding-bottom: 0px !important;
}
.nav-text:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -3px;
    background: var(--font-color);
    height: 3px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.nav-text:hover:after,
.nav-text:focus:after,
.nav-text:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

/* HOME */
.greeting-svg {
    overflow-x: hidden;
}

.greeting-text__hi {
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
}

.greeting-text__name {
    font-size: 60px;
    font-weight: 900;
}

.greeting-text__bio {
    font-size: 30px;
    font-weight: 800;
    color: var(--muted) !important;
}

.fa-linkedin-square {
    color: var(--linkedin) !important;
    transition: all 0.5s;
}

.fa-linkedin-square:hover {
    transform: rotate(360deg) scale(1.1);
}

.fa-github-square {
    color: var(--github) !important;
    transition: all 0.5s;
}

.fa-github-square:hover {
    transform: rotate(360deg) scale(1.1);
}

.fa-envelope-square {
    color: var(--gmail) !important;
    transition: all 0.5s;
}

.fa-envelope-square:hover {
    transform: rotate(360deg) scale(1.1);
}

.fa-file {
    color: var(--white) !important;
}

/* RESUME Button */
.custom-btn {
    transform: translate(0%, 0%);
    color: var(--white) !important;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 2em;
    border: 2px solid var(--font-color);
    border-radius: 5px;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    background-color: var(--font-color);
    transition: all 0.3s;
}

.custom-btn:focus {
    outline: none;
}

.custom-btn::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--font-color);
    transition: 0.5s 0.2s cubic-bezier(0.1, 0, 0.1, 1),
        left 0.5s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
}
.custom-btn::after {
    content: '';
    display: inline-block;
    background-image: url('../img/right-arrow.svg');
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.5s cubic-bezier(0.1, 0, 0.1, 1);
}
.custom-btn:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
}
.custom-btn:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.5s cubic-bezier(0.1, 0, 0.1, 1),
        left 0.5s 0.5s cubic-bezier(0.1, 0, 0.1, 1);
}
.custom-btn:hover::after {
    right: 0;
    transition: right 0.5s 0.5s cubic-bezier(0.1, 0, 0.1, 1);
}

.bio {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    width: 85%;
    height: 80%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--font-color);
}

.bio p {
    color: var(--white) !important;
}

/* READ MORE Button */
.btn1 {
    position: absolute;
    right: 5%;
    bottom: 5%;
    letter-spacing: 1px;
    padding: 0.5vw 1vw;
    color: var(--white) !important;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    width: 30%;
    z-index: 99999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn1:before,
.btn1:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn1:hover {
    color: var(--font-color) !important;
    font-weight: 500;
    transition-delay: 0.5s;
}

.btn1:hover:before {
    transition-delay: 0s;
}

.btn1:hover:after {
    background: var(--white);
    transition-delay: 0.35s;
}

.from-left:before,
.from-left:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-left:before {
    right: 0;
    border: 1px solid var(--white);
    border-left: 0;
    border-right: 0;
}

.from-left:after {
    left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
    width: 100%;
}
